body {
	margin: 0;
	font-family: Arial;
}

textarea:focus, input:focus {
    outline: none;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
	color: #cdcdcd;
}

/* for the header */

#main-header {
	position: sticky;
	top: 0;
	z-index: 1;
	margin-bottom: 10px;
}

#main-nav {
	width: 100%;
	border-bottom: 1px solid #c0c0c0;
	background: #e0e0e0;
	overflow: hidden;
}

#main-wrapper {
	width: 100%;
	height: 100%;
	padding: 5px;
	overflow: hidden;
	width: 50%;
	margin: 0 auto;
}

#nav-menu {
	float: left;
	position: relative;
}

#nav-menu::after {
	content: '';
    display: block;
    height: 100%;
	top: 0;
    right: -5px;
    position: absolute;
    width: 1px;
	background: #aaaaaa;
}

#nav-user {
	float: right;
	position: relative;
	margin-right: 10px;
}

 #nav-search {
	float: left;
	margin-left: 15px;
}

#nav-user::before {
	content: '';
    display: block;
    height: 100%;
	top: 0;
    left: -5px;
    position: absolute;
    width: 1px;
	background: #aaaaaa;
}

#nav-menu ul,
#nav-user ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#nav-menu ul li,
#nav-user ul li {
	float: left;
}

#nav-menu ul li a,
#nav-user ul li a {
	text-decoration: none;
	padding: 5px;
	color: #101010;
	text-align: center;
	display: block;
	border-radius: 2px;
}

#nav-menu ul li a:hover,
#nav-user ul li a:hover {
	background: #b0b0b0;
}

#nav-search form input {
	padding: 5px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

#nav-search form button {
	width: auto;
	border: none;
	border-radius: 2px;
	padding: 7px;
	background-color: #b0b0b0;
	cursor: pointer;
}

#nav-search form button:hover {
	background-color: #a0a0a0;
}

/* For home */

#main-container {
	width: 60%;
	background: #dddddd;
	border: 1px solid #cccccc;
	border-radius: 2px;
	margin-left: 30px;
	margin-bottom: 5px;
	padding: 10px;
	overflow: hidden;
}

#create-post {
	width: 70%;
	overflow: hidden;
	margin: auto auto;
	padding: 20px;
	background: #ffffff;
	overflow: hidden;
}

#create-post form {
	width: 100;
}

#create-post form textarea {
	padding: 10px;
	width: 100%;
	height: 100px;
	font-size: 14px;
	resize: none;
	border: 1px solid #aaaaaa;
	margin: 10px auto;
	display: inline-block;
	box-sizing : border-box;
	overflow: hidden;
}

#create-post form button {
	border: none;
	padding: 10px 20px;
	font-size: 17px;
	color: #ffffff;
	background: #4CAF50;
	float: right;
	cursor: pointer;
	margin-left: 5px;
}

#create-post form button:hover {
	opacity: 0.8;
}

#post-container {
	width: 70%;
	overflow: hidden;
	margin: 10px auto;
	padding: 20px;
	background: #eeeeee;
	overflow: auto;
}

/* For Mobile */
@media screen and (max-width: 540px) {
	#main-wrapper {
		width: 100%;
		height: 100%;
		padding: 5px;
		overflow: hidden;
		width: 100%;
		margin: 0 auto;
	}
	
	#nav-search form input {
		width: 100px;
	}
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
	#main-wrapper {
		width: 100%;
		height: 100%;
		padding: 5px;
		overflow: hidden;
		width: 100%;
		margin: 0 auto;
	}
}
